[submodule "packages/kak/autoload/fzf.kak"]
	path = packages/kak/dependencies/fzf.kak
	url = git@github.com:andreyorst/fzf.kak.git
[submodule "packages/kak/auto-pairs.kak"]
	path = packages/kak/dependencies/auto-pairs.kak
	url = git@github.com:alexherbo2/auto-pairs.kak.git
[submodule "packages/kak/dependencies/wakatime"]
	path = packages/kak/dependencies/wakatime
	url = git@github.com:WhatNodyn/kakoune-wakatime.git
